<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.slc.command">

    <application>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated = "true"
            android:name=".ui.activity.MainActivity" />
    </application>
</manifest>
